// Headers

h1, .h1 {
	@include font(48,52,400,$header-font);
	text-transform: uppercase;
	text-align: center;
	margin: 22px 0;
	color: $header-color;
	@include mq(lg){
		@include font(46,50,400,$header-font);
		margin: 18px 0;
	}
	@include mq(md){
		@include font(42,46,400,$header-font);
	}
	@include mq(sm){
		@include font(38,42,400,$header-font);
		margin: 10px 0;
	}
	@include mq(xs){
		@include font(34,38,400,$header-font);
	}
}
h2, .h2 {
	@include font(36,38,400,$header-font);
	text-transform: uppercase;
	color: $header-color;
	margin: 22px 0;
	@include mq(md){
		@include font(34,36,400,$header-font);
		margin: 18px 0;
	}
	@include mq(sm){
		@include font(30,32,400,$header-font);
	}
	@include mq(xs){
		@include font(26,28,400,$header-font);
	}
}
h3, .h3 {
	@include font(30,32,400,$header-font);
	text-transform: uppercase;
	color: $header-color;
	margin: 13px 0;
	@include mq(md){
		@include font(28,30,400,$header-font);
		margin: 8px 0;
	}
	@include mq(sm){
		@include font(26,28,400,$header-font);
		margin: 6px 0;
	}
}
h4, .h4 {
	@include font(20,24,700,$header-font);
	text-transform: uppercase;
	color: $header-color;
	margin: 13px 0;
	@include mq(lg){
		br {display: none}
	}
	@include mq(sm){
		@include font(18,22,400,$header-font);
		margin: 6px 0;
	}
}

p {
	@include mq(sm){
		font-size: 0.95em;
	}
	@include mq(xs){
		font-size: 0.9em;
	}
}

.btn {
  text-decoration: none;
}

.content {
  ul {
    @include list;
  }
}

.table {
	th {
		background: #ededed;
	}
	td, th {
		padding: 10px;
		vertical-align: top;
		border: 1px solid #ccc;
	}
	@include mq(sm) {
		display: block;
		thead, tbody, th, td, tr {
			display: block;
		}
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		tr { border: 1px solid #ccc; }
		td {
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
			&::before {
				position: absolute;
				top: 11px;
				left: 6px;
				width: 45%;
				padding-right: 10px;
				white-space: nowrap;
				content: attr(data-head);
			}
		}
	}
}