<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="shortcut icon" href="./favicon.ico">
</head>

<body>

	<header class="header">
		<div class="container">
			<nav class="site-nav-outer">
				<button class="c-hamburger c-hamburger--htx">
					<span>toggle menu</span>
				</button>
				<!-- Site menu data -->
				<%
					var menuItems = [
						{'О&nbsp;компании': './inner1.html'},
						{'Услуги': './inner1.html'},
						{'Сотрудничество': './inner1.html'},
						{'Карьера': './inner1.html'},
						{'Пресс-центр': './inner1.html' },
						{'Контакты': './inner2.html' }
					]
				%>
				<!-- Site menu template -->
				<ul class="site-nav">
				<%	menuItems.forEach((item, idx)=>{
							for (key in item) { %>
								<li class="site-nav__item<% if(!idx){ %> site-nav__item_act<%}%>">
									<a href="<%=item[key] %>">
										<%=key %>
									</a>
								</li>
							<%	}
						});	%>
				</ul>
			</nav>
		</div>
	</header>
	<!-- HEADER end-->

	<div class="content">

		<!-- SLIDER-->
		<div class="slider-wrapp">
			<div class="slider js-slider-1">
				<% for (var i = 1; i < 3; i++){%>
					<div class="slider__item">
						<img class="slider__img" src="images/slider<%=i %>.jpg" alt="" />
						<div class="slider__inner">
							<div class="slider__txt">
								<div class="title">
									Title
								</div>
								<div class="txt">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi suscipit reiciendis numquam deserunt, dolore officiis nisi unde, placeat iste.
								</div>
							</div>
						</div>
					</div>
					<% } %>
			</div>
			<button class="slider-arrow js-slider-1-left">previos</button>
			<button class="slider-arrow js-slider-1-right">next</button>
			<div class="slider-dots js-slider-1-dots"></div>
		</div>

	</div>

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="copyright">© Lorem ipsum dolor sit amet, consectetur adipisicing elit. 2017</div>
				</div>
				<div class="col">
					<div class="infodisign">
						<a href="http://infodesign.ru/">© Создание сайта и дизайн «ИнфоДизайн» 2017</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<button href="#" class="scrollup">Наверх</button>
</body>

</html>
