doctype html
html
  include ./includes/menu.pug
  head
    title= 'title'
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="cmsmagazine" content="849adf88a19b6cd917ad2f593e243b3a")
    link(rel="shortcut icon", href="./favicon.ico")
  body
    header.header
      .site-nav-outer
        .container
          nav.site-nav-inner
            button.c-hamburger.c-hamburger--htx
              span toggle menu
            +menu({
              0: {
                href: '/',
                title: 'О Компании'
              },
              1: {
                href: '/inner1.html',
                title: 'Название'
              },     
              2: {
                href: '/inner2.html',
                title: 'Название2',
                sub: {
                  0: {
                    href: '#',
                    title: 'в подменю'
                  },
                  1: {
                    href: '#',
                    title: 'в подменю 2'
                  },
                  2: {
                    href: '#',
                    title: 'в подменю 3',
                    sub: {
                      0: {
                        href: '#',
                        title: '3 уровень'
                      },
                      1: {
                        href: '#',
                        title: '3 уровень'
                      }
                    }
                  }
                }
              }     
            }, 'site-nav')
    main
      block content
    footer
      div.footer
        div.copyright= 'all right resived'