@mixin font($size: $base-font-size, $height: $base-line-height, $weight: 400, $font: $default-font, $context: $base-font-size){

	font-size: $size/$context + em;
	line-height: $height/$size;
	font-weight: $weight;
	font-family: $font;

}