@mixin link($color: $link, $hov: $link-hov){
	color: $color;
	border-bottom: 1px solid transparent;
	transition: 0.2s;
	white-space: nowrap;
	text-decoration: none;
	display: inline-block;
	line-height: 0.9;
	&:hover,
	&:focus,
	&:active {
		border-bottom: 1px solid $color;
		color: $hov;
	}
	&:viseted {
		color: darken($color, 15%);
	}
}
