mixin menu(items, cls)
  ul(class=cls)
    each item, index in items
      -var itemClass = +index ? cls+'__item' : cls+'__item act'  
      li(class=itemClass)
        a(href= item.href class=cls+'__link')
          span= item.title
        if item.sub !== undefined
          +menu(item.sub, 'dropdown')