// Baze layout
html {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	@include font;
	color: $default-color;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	flex: auto;
	font-size: #{$base-font-size}px;
	line-height: #{$base-line-height}px;
	.body {
		max-width: 1920px;
	}
}
.content {
	flex-grow: 1;
}

.container {
	margin: 0 auto;
	padding: 0 $gutter;
	width: 1170px;
	@each $container, $width in $container-widths {
		@include mq(#{$container}){
			width: $width;
		}
	}
}

.row {
	display: flex;
	margin: 0 -#{$gutter};
	flex-wrap: wrap;
}
.col {
	padding: 0 $gutter;
	flex: auto;
}

// Normalize

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

progress {
	vertical-align: baseline;
}

//Nav

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

// Links

a {
	background-color: transparent;
	color: $link;
	line-height: 1.5;
	display: inline-block;
	&:active,
	&:hover {
		outline-width: 0;
		color: $link-hov;
		text-decoration: none;
		h3, .h3 {
			color: $link-hov;
		}
	}
	&[href^="mailto"]{

	}
	&.block-link {
		text-decoration: none;
		color: $default-color;
	}
}

// Images

img {
	display: block;
	max-width: 100%;
}
svg:not(:root) {
	overflow: hidden;
}

sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.25em;
	color: $link-hov;
}

small {
	font-size: 80%;
}
b,
strong {
	font-weight: bolder;
}
abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

// Headers

h1, .h1 {
	@include font(48, 52, 700);
	margin: 18px 0;
	@include mq(sm){
		@include font(36, 38, 700);
	}
}
h2, .h2 {
	@include font(40, 44, 700);
	color: $header;
	margin: 15px 0;
	@include mq(sm){
		@include font(30, 32, 700);
	}
}
h3, .h3 {
	@include font(32, 36, 700);
	color: $header;
	margin: 10px 0;
	@include mq(sm){
		@include font(24, 26, 700);
	}
	a {
		text-decoration: none;
		color: $header;
		display: inline-block;
	}
}
h4, .h4 {
	@include font(24, 26, 700);
	color: $header;
	margin: 10px 0;
	@include mq(sm){
		@include font(20, 22, 700);
	}
}
h5, .h5 {
	@include font(20, 24, 700);
	margin: 10px 0;
	color: $header;
	@include mq(sm){
		@include font(18, 20, 700);
	}
}

//Lists

.inner ul {
	margin: 7px 0;
	padding: 0;
	list-style: none;
	li {
		font-size: 1.0625em;
		padding: 5px 0;
		&::before{
			content: "";
			display: inline-block;
			width: 22px;
			height: 0;
			border-top: 1px solid #629ed5;
			margin-right: 10px;
			margin-bottom: 5px;
		}
	}
}

//Tables

.table {
	th {
		background: #ededed;
	}
	td, th {
		padding: 10px;
		vertical-align: top;
		border: 1px solid #ccc;
	}
	@include mq(sm) {
		display: block;
		thead, tbody, th, td, tr {
			display: block;
		}
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		tr { border: 1px solid #ccc; }
		td {
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
			&::before {
				position: absolute;
				top: 11px;
				left: 6px;
				width: 45%;
				padding-right: 10px;
				white-space: nowrap;
				content: attr(data-head);
			}
		}
	}
	&.full {
		@include mq(sm){
			td {
				padding-left: 10px;
			}
		}
	}
}
