/* Fonts import */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');
/* Media queries */
$breakpoint-widths: (
	lg: 1200px,
	md: 992px,
	sm: 768px,
	xs: 576px
)!default;

/* Container */
$container-widths: (
	lg: 900px,
	md: 750px,
	sm: 558px,
	xs: auto
)!default;

$gutter: 15px;

/* Fonts */
$open: 'Open Sans', sans-serif;
$serif: 'PT Serif', serif;

$default-font: $open;
$base-font-size: 16;
$base-line-height: 26;

/* Colors */
$default-color: #333;
$orange: #f1501d;
$blue: #007fa0;
$grey: #777;
$header: $default-color;

/* Links */
$link: $orange;
$link-hov: $orange;

/* Components */
$c-humburger-color: $orange;
$scroll-up-color: $orange;
